<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>装配</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-row>
        <el-form :inline="true" @submit.native.prevent>
          <el-form-item>
            <el-input @keyup.enter.native="query" style="width:280px" placeholder="名称" clearable v-model="queryParams"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
        </el-form>
        <el-table :data="pageinfo.content" highlight-current-row border style="width:100%">
          <el-table-column type="expand">
            <template slot-scope="scope">
              <div v-for="(subProjectRowArr, rowIndex) in scope.row.subProjects" :key="rowIndex">
                <br v-if="rowIndex !== 0">
                <el-row type="flex" justify="space-around">
                  <el-col v-for="(subProject, index) in subProjectRowArr" :key="index" :span="11">
                    <el-table v-if="subProject" :data="subProject.subProjectPersonnels" border>
                      <el-table-column align="center">
                        <template slot="header">
                          <el-tag>{{dictMap['SYSTEM'][subProject.system]}}</el-tag>
                          <el-button style="float:right" type="primary" @click="openAddTask(subProject.id)" size="mini" icon="el-icon-user">新增任务</el-button>
                          <el-button style="float:right" type="primary" @click="removeSubProject(subProject.id)" size="mini" icon="el-icon-delete">删除子项</el-button>
                          <el-tag style="float:right" @click="openContract(subProject.contract)">查看合同</el-tag>
                        </template>
                        <el-table-column label="前序项目">
                          <template slot-scope="iscope">{{projectMap[iscope.row.prevSubprojectId] ? projectMap[iscope.row.prevSubprojectId].name : '/'}}</template>
                        </el-table-column>
                        <el-table-column label="姓名">
                          <template slot-scope="iscope">{{personnelMap[iscope.row.personnelId].name}}</template>
                        </el-table-column>
                        <el-table-column label="供应商">
                          <template slot-scope="iscope">{{dictMap['SUPPLIER'][personnelMap[iscope.row.personnelId].company]}}</template>
                        </el-table-column>
                        <el-table-column label="类别">
                          <template slot-scope="iscope">{{dictMap['PERSONNEL_TYPE'][personnelMap[iscope.row.personnelId].type]}}</template>
                        </el-table-column>
                        <el-table-column label="级别">
                          <template slot-scope="iscope">{{dictMap['PERSONNEL_LEVEL'][personnelMap[iscope.row.personnelId].level]}}</template>
                        </el-table-column>
                        <el-table-column label="占比" prop="currentRation"></el-table-column>
                        <el-table-column label="后续项目">
                          <template slot-scope="iscope">{{projectMap[iscope.row.nextSubprojectId] ? projectMap[iscope.row.nextSubprojectId].name : '/'}}</template>
                        </el-table-column>
                        <el-table-column label="释放时间" prop="endDate"></el-table-column>
                        <el-table-column align="center" label="操作">
                          <template slot-scope="iscope">
                            <el-button-group>
                              <el-button type="danger" @click="removeTask(subProject.subProjectPersonnels, iscope.row.id)" size="small" icon="el-icon-delete"></el-button>
                            </el-button-group>
                          </template>
                        </el-table-column>
                      </el-table-column>
                    </el-table>
                  </el-col>
                </el-row>
              </div>
            </template>
          </el-table-column>
          <el-table-column prop="name" label="名称" width="200px"></el-table-column>
          <el-table-column label="阶段" width="200px">
            <template slot-scope="scope">{{dictMap['PROJECT_STAGE'][scope.row.phase]}}</template>
          </el-table-column>
          <el-table-column label="板块" width="200px">
            <template slot-scope="scope">{{dictMap['DOMAIN'][scope.row.domain]}}</template>
          </el-table-column>
          <el-table-column label="上线日期" prop="onlineDate" width="150px"></el-table-column>
          <el-table-column label="问题" prop="issue"></el-table-column>
          <el-table-column align="center" label="操作" width="150">
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openAddSubProject(scope.row.id)" size="small">新增子项</el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                         :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                         :total="pageinfo.totalElements"></el-pagination>
        </div>
      </el-row>
      <el-drawer title="新增子项" :with-header="false" :visible.sync="subProjectDrawerVisible" direction="rtl">
        <el-row type="flex" justify="space-around">
          <div class="demo-drawer__content">
            <el-form :model="subProject" :rules="subProjectFormRules" ref="subProjectForm" label-width="80px">
              <el-form-item label="系统" prop="system">
                <el-select v-model="subProject.system">
                  <el-option v-for="(val, key) in dictMap['SYSTEM']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="合同" prop="contractId">
                <el-select v-model="subProject.contractId">
                  <el-option v-for="(item, key) in contractMap" :label="item.name" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </div>
        </el-row>
        <el-row type="flex" justify="space-around">
          <div class="demo-drawer__footer">
            <el-button @click="cancelSubProjectForm">取 消</el-button>
            <el-button type="primary" @click="saveSubProject">确 定</el-button>
          </div>
        </el-row>
      </el-drawer>
      <el-drawer title="新增任务" :with-header="false" :visible.sync="taskDrawerVisible" direction="rtl">
        <el-row type="flex" justify="space-around">
          <div class="demo-drawer__content">
            <el-form :model="task" :rules="taskFormRules" ref="taskForm" label-width="80px">
              <el-form-item label="项目人员" prop="personnelId">
                <el-select v-model="task.personnelId" filterable placeholder="请选择">
                  <el-option
                      v-for="(item, id) in personnelMap"
                      :key="id"
                      :label="item.name"
                      :value="id">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="当前占比" prop="currentRation">
                <el-input v-model="task.currentRation" oninput="value=value.replace(/^\.+|[^\d.]/g, '')" @blur="rationChange"></el-input>
              </el-form-item>
              <el-form-item label="进入时间" prop="startDate">
                <el-date-picker type="date" v-model="task.startDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
              <el-form-item label="释放时间" prop="endDate">
                <el-date-picker type="date" v-model="task.endDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
              <el-form-item label="前序项目" prop="prevSubprojectId">
                <el-select v-model="task.prevSubprojectId" clearable placeholder="请选择">
                  <el-option
                      v-for="(item, id) in projectMap"
                      :key="id"
                      :label="item.name"
                      :value="id">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="后续项目" prop="nextSubprojectId">
                <el-select v-model="task.nextSubprojectId" clearable placeholder="请选择">
                  <el-option
                      v-for="(item, id) in projectMap"
                      :key="id"
                      :label="item.name"
                      :value="id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-form>
          </div>
        </el-row>
        <el-row type="flex" justify="space-around">
          <div class="demo-drawer__footer">
            <el-button @click="cancelTaskForm">取 消</el-button>
            <el-button type="primary" @click="saveTask">确 定</el-button>
          </div>
        </el-row>
      </el-drawer>

      <el-dialog title="合同信息" :visible.sync="contractVisible" width="50%">
        <el-descriptions>
          <el-descriptions-item label="名称">{{contract.name}}</el-descriptions-item>
          <el-descriptions-item label="公司">{{dictMap['SUPPLIER'][contract.company]}}</el-descriptions-item>
          <el-descriptions-item label="类型">{{dictMap['CONTRACT_TYPE'][contract.type]}}</el-descriptions-item>
          <el-descriptions-item label="状态">{{dictMap['CONTRACT_STATUS'][contract.status]}}</el-descriptions-item>
          <el-descriptions-item label="开始日期">{{contract.startDate}}</el-descriptions-item>
          <el-descriptions-item label="结束日期">{{contract.endDate}}</el-descriptions-item>
        </el-descriptions>
        <span slot="footer" class="dialog-footer">
    <el-button @click="contractVisible = false">取 消</el-button>
  </span>
      </el-dialog>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        const validateSystem = (rule, value, callback) => {
          if (this.subProject.system === undefined || this.subProject.system.trim().length === 0) {
            return callback(new Error('系统不能为空'))
          }
          // 检查当前项目是否已经存在该系统子项
          this.pageinfo.content.forEach(project => {
            if (this.subProject.projectId === project.id) {
              project.subProjects.forEach(subProjectRow => {
                subProjectRow.forEach(subProject => {
                  if (subProject.system === value) {
                    return callback(new Error('该子系统已经存在'))
                  }
                })
              })
            }
          })
          callback()
        }
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          contractMap: {}, // 合同字典
          projectMap: {}, // 项目字典
          formVisible: false,
          queryParams: '',
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          // ------------子项目表单------------
          subProjectDrawerVisible: false,
          subProjectFormRules: {
            system : [
              { required: true, trigger: 'blue', validator: validateSystem }
            ],
            contractId : [
              { required: true, trigger: 'blue', message: '合同不能为空' }
            ]
          },
          subProject: {},
          // ------------任务表单------------
          taskDrawerVisible: false,
          taskFormRules: {
            personnelId : [
              { required: true, trigger: 'blue', message: '项目人员不能为空'}
            ],
            currentRation: [
              { required: true, trigger: 'blue', message: '当前占比不能为空'}
            ],
            startDate: [
              { required: true, trigger: 'blue', message: '进入时间不能为空'}
            ],
            endDate: [
              { required: true, trigger: 'blue', message: '释放时间不能为空'}
            ]
          },
          task: {},
          // ------------合同弹窗------------
          contractVisible: false,
          contract: {}
        }
      },
      methods: {
        query: function() {
          axios.get('/rest/project/query/' + (this.pageinfo.pageable.pageNumber) + '?params=' + this.queryParams)
            .then(res => {
              this.pageinfo = res.data
              console.log('组装前子项列表：' + JSON.stringify(this.pageinfo.content))
              this.pageinfo.content.forEach(project => {
                // 按两子项一行重新组装数据
                let firstIndex = 0
                const subProjects = Array(Math.ceil(project.subProjects.length / 2)).fill().map(() => Array(2))
                project.subProjects.forEach((subProject, index) => {
                  const rowflag = index % 2
                  console.log('subProjects:' + JSON.stringify(subProjects))
                  subProjects[firstIndex][rowflag] = subProject
                  console.log('subProject：' + JSON.stringify(subProject))
                  if (rowflag !== 0) {
                    firstIndex += 1
                  }
                })
                console.log('项目子项列表：' + JSON.stringify(subProjects))
                project.subProjects = subProjects
              })
              console.log('组装后子项列表：' + JSON.stringify(this.pageinfo.content))
              this.pageinfo.pageable.pageNumber += 1
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        loadPersonnel: function() {
          axios.get('/rest/personnel/load/')
            .then(res => {
              res.data.forEach(item =>  {
                this.personnelMap[item.id] = item
              })
          })
        },
        loadContract: function() {
          axios.get('/rest/contract/load/')
            .then(res => {
              res.data.forEach(item =>  {
                this.contractMap[item.id] = item
              })
          })
        },
        loadProject: function() {
          axios.get('/rest/project/load/')
            .then(res => {
              res.data.forEach(item =>  {
                this.projectMap[item.id] = item
              })
          })
        },
        handlePageChange: function(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        },
        openAddSubProject(projectId) {
          this.subProject = { projectId: projectId }
          this.subProjectDrawerVisible = true
        },
        saveSubProject() {
          this.$refs.subProjectForm.validate((valid) => {
            if (valid) {
              this.subProject.contract = { id: this.subProject.contractId }
              delete this.subProject.contractId
              axios.post("/rest/project/subProject", this.subProject).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                this.query()
                this.cancelSubProjectForm()
              })
            }
          })
        },
        cancelSubProjectForm() {
          this.subProject = {}
          this.$refs.subProjectForm.resetFields()
          this.subProjectDrawerVisible = false
        },
        removeSubProject(id) {
          this.$confirm('确定删除该子项', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/project/subProject/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.query()
            })
          })
        },
        openAddTask(subProjectId) {
          this.task = { subProjectId: subProjectId }
          this.taskDrawerVisible = true
        },
        saveTask() {
          this.$refs.taskForm.validate((valid) => {
            if (valid) {
              axios.post("/rest/project/subProjectPersonnel", this.task).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                this.cancelTaskForm()
                this.query()
              })
            }
          })
        },
        removeTask(tasks, taskId) {
          this.$confirm('确定删除该任务', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/project/subProjectPersonnel/" + taskId).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              tasks.forEach((task, index) => {
                if (taskId === task.id) {
                  tasks.splice(index, 1)
                }
              })
            })
          })
        },
        cancelTaskForm() {
          this.task = {}
          this.$refs.taskForm.resetFields()
          this.taskDrawerVisible = false
        },
        rationChange(e) {
          this.task.currentRation = e.target.value
        },
        openContract(contract) {
          this.contractVisible = true
          this.contract = contract
        }
      },
      mounted() {
        this.loadDict()
        this.loadPersonnel()
        this.loadContract()
        this.loadProject()
        this.query()
      }
    })
  </script>
</html>