<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>研发杠杆</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-form :inline="true" @submit.native.prevent>
        <el-row>
          <el-form-item label="周期">
            <el-date-picker type="date" v-model="params.startDate" value-format="yyyy/MM/dd"></el-date-picker>
            &nbsp;-&nbsp;
            <el-date-picker type="date" v-model="params.trendEnd" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="维度">
            <el-switch v-model="params.dimension"
              active-value="team" inactive-value="line"
              active-text="小组" inactive-text="条线"
              active-color="#13ce66" inactive-color="#409eff"
              @change="dimensionChange">
            </el-switch>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query" icon="el-icon-search">查询</el-button>
          </el-form-item>
        </el-row>
      </el-form>
      <el-row v-for="(row, rowindex) in chartDeptids" :keys="rowindex" :gutter="20">
        <el-col v-for="(deptid, index) in row" :keys="index" :span="12">
          <div :id="'chart_' + deptid" style="width:100%; height:400px"></div>
          <el-table :data="deptTableData[deptid].data" highlight-current-row border style="width:100%" :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
            <el-table-column v-for="colName in deptTableData[deptid].cols" :label="colName" :prop="colName"></el-table-column>
          </el-table>
        </el-col>
      </el-row>
      
    </div>
  </body>
  <script src="../static/js/util.js"></script>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script src="../static/js/echarts.js"></script>

  <script>
    new Vue({
      el: '#app',

      data: function() {
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          teamMap: {}, // 小组字典
          params: { dimension: 'team' },
          chartDeptids: [], // 图表标志数据
          // --------------表格--------------
          deptTableData: {}, // 部门表格数据
          // --------------图表--------------
          option: {
            title: {
              x: 'center',
              text: '',
            },
            tooltip: {
              trigger: 'axis'
            },
            legend: {
              x: 'right',
              orient: 'vertical',
              data: []
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center',
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: []
            },
            yAxis: {
              type: 'value'
            },
            series: []
          }
        }
      },
      methods: {
        load() {
          Promise.all([ axios.get('/rest/personnel/load'), axios.get('/rest/team/load')]).then(values => {
            values[0].data.forEach(item =>  {
              this.personnelMap[item.id] = item
            })

            this.teamMap = {}
            values[1].data.forEach(team => {
              this.teamMap[team.id] = team
            })
            
            this.query()
          })
        },
        query() {
          let url = '/rest/resource/his/query?queryFlag=' + this.params.dimension
          if (this.params.startDate) {
            url += '&startDate=' + this.params.startDate
          }
          if (this.params.endDate) {
            url += '&endDate=' + this.params.endDate
          }
          axios.post(url).then(res => {
            console.log('resources:' + JSON.stringify(res.data))
            const dataMap = {} // 部门 -> 条线/小组 -> 年月归类
            const dataMonthMap = {} // 部门 -> 所有年月
            this.deptTableData = {}
            Object.keys(this.dictMap['DEPT']).forEach(deptid => {
              dataMap[deptid] = {}
              dataMonthMap[deptid] = new Set()
              this.deptTableData[deptid] = { cols: [' '], data: []}
            })
            res.data.forEach(item => {
              const person = this.personnelMap[item.PERSONNEL_ID]
              let dimension = null
              if (this.params.dimension === 'line') {
                dimension = item.DOMAIN
              } else {
                dimension = person.team.id
              }

              if (dimension && item.DEPT) {
                console.log('dataMap:' + JSON.stringify(dataMap))
                if (!dataMap[item.DEPT][dimension]) {
                  dataMap[item.DEPT][dimension] = {}
                }
                const betweenMonths = getBetweenMonth(item.START_DATE, item.END_DATE)
                betweenMonths.forEach(month => {
                  dataMonthMap[item.DEPT].add(month)
                  if (!dataMap[item.DEPT][dimension][month]) {
                    dataMap[item.DEPT][dimension][month] = {}
                  }
                  dataMap[item.DEPT][dimension][month][person.type] = dataMap[item.DEPT][dimension][month][person.type] ? dataMap[item.DEPT][dimension][month][person.type] + 1 : 1
                })
              }
            })
            console.log('dataMap:' + JSON.stringify(dataMap))
            console.log('dataMonthMap:' + JSON.stringify(dataMonthMap))
            // -----------计算研发杠杆-----------
            const leverageDataMap = {} // 研发杠杆容器
            Object.keys(dataMap).forEach(deptid => {
              if (!leverageDataMap[deptid]) {
                leverageDataMap[deptid] = {}
              }
              Object.keys(dataMap[deptid]).forEach(dimension => {
                if (!leverageDataMap[deptid][dimension]) {
                  leverageDataMap[deptid][dimension] = {}
                }
                const hisMonths = Array.from(dataMonthMap[deptid]).sort()
                hisMonths.forEach(month => {
                  let rate = 0
                  if (dataMap[deptid][dimension][month] && dataMap[deptid][dimension][month]['1'] && dataMap[deptid][dimension][month]['2']) {
                    rate = (dataMap[deptid][dimension][month]['2'] / dataMap[deptid][dimension][month]['1']).toFixed(2)
                  }
                  leverageDataMap[deptid][dimension][month] = rate
                })
              })
            })
            console.log('leverageDataMap:' + JSON.stringify(leverageDataMap))
            Object.keys(dataMonthMap).forEach(deptid => {
              const deptName = this.dictMap['DEPT'][deptid]
              const hisMonths = Array.from(dataMonthMap[deptid]).sort()
              const dimensions = Array.from(Object.keys(leverageDataMap[deptid])).sort()
              const legends = []
              const serieses = []
              const deptMonthVal = {}
              dimensions.forEach(dimension => {
                const tableRowData = {}
                const dimensionName = this.params.dimension === 'team' ? this.teamMap[dimension].name + '小组' : this.dictMap['DOMAIN'][dimension] + '条线'
                deptMonthVal[' '] = deptName
                tableRowData[' '] = dimensionName
                legends.push(dimensionName)
                const vals = []
                hisMonths.forEach(month => {
                  const val = leverageDataMap[deptid][dimension][month]
                  vals.push(val)
                  deptMonthVal[month] = deptMonthVal[month] ? parseFloat(deptMonthVal[month]) + parseFloat(val) : val
                  tableRowData[month] = val
                })
                this.deptTableData[deptid].data.push(tableRowData)
                serieses.push({
                  name: dimensionName,
                  type: 'line',
                  data: vals
                })
              })
              this.deptTableData[deptid].data.splice(0, 0, deptMonthVal)
              const deptVals = []
              hisMonths.forEach(month => {
                deptVals.push(deptMonthVal[month])
                this.deptTableData[deptid].cols.push(month)
                
              })
              legends.splice(0, 0, deptName)
              serieses.splice(0, 0, {
                name: deptName,
                type: 'line',
                data: deptVals
              })
              this.option.title.text = deptName + '研发杠杆'
              this.option.xAxis.data = hisMonths
              this.option.legend.data = legends
              this.option.series = serieses
              echarts.init(document.getElementById('chart_' + deptid)).setOption(this.option, true)
              console.log('this.deptTableData:' + JSON.stringify(this.deptTableData))
            })
          })
        },
        dimensionChange() {
          this.query()
        }
      },
      beforeMount() {
        axios.get('/rest/dict/load').then(res => {
          this.dictMap = res.data
          Object.keys(this.dictMap['DEPT']).forEach((deptid, index) => {
            this.deptTableData[deptid] = { cols: [' '], data: []}
            if (index % 2 === 0) {
              this.chartDeptids.push([deptid])
            } else {
              this.chartDeptids[parseInt(index / 2)].push(deptid)
            }
          })
        })
      },
      mounted() {
        this.load()
      }
    })
  </script>
</html>