<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>资源分析</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-form :inline="true" @submit.native.prevent>
        <el-row>
          <el-form-item label="部门">
            <el-select v-model="params.dept" clearable>
              <el-option v-for="(val, key) in dictMap['DEPT']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="小组">
            <el-select v-model="params.team" clearable>
              <el-option v-for="(val, key) in dictMap['TEAM']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query" icon="el-icon-search">查询</el-button>
          </el-form-item>
        </el-row>
      </el-form>
      <div id="chart" style="width:100%; height:600px"></div>
      <el-dialog title="人员清单" :visible.sync="dialogVisible" width="80%">
        <el-table :data="resources" highlight-current-row border style="width:100%" :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
          <el-table-column label="前序项目">
            <template slot-scope="scope">{{scope.row.prevSubprojectId ? projectMap[scope.row.prevSubprojectId].name  + '-' + dictMap['SYSTEM'][projectMap[scope.row.prevSubprojectId].system] : '/'}}</template>
          </el-table-column>
          <el-table-column label="姓名" width="120px">
            <template slot-scope="scope">{{personnelMap[scope.row.personnelId].name}}</template>
          </el-table-column>
          <el-table-column label="类别" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_TYPE'][personnelMap[scope.row.personnelId].type]}}</template>
          </el-table-column>
          <el-table-column label="级别" width="120px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_LEVEL'][personnelMap[scope.row.personnelId].level]}}</template>
          </el-table-column>
          <el-table-column label="占比" prop="currentRation" width="80px"></el-table-column>
          <el-table-column label="条线">
            <template slot-scope="scope">{{dictMap['DOMAIN'][projectMap[scope.row.subProjectId].domain]}}</template>
          </el-table-column>
          <el-table-column label="部门">
            <template slot-scope="scope">{{dictMap['DEPT'][personnelMap[scope.row.personnelId].dept]}}</template>
          </el-table-column>
          <el-table-column label="小组">
            <template slot-scope="scope">{{dictMap['TEAM'][personnelMap[scope.row.personnelId].team]}}</template>
          </el-table-column>
          <el-table-column label="进入时间" prop="startDate" width="120px"></el-table-column>
          <el-table-column label="释放时间" prop="endDate" width="120px"></el-table-column>
          <el-table-column label="后续项目">
            <template slot-scope="scope">{{projectMap[scope.row.nextSubprojectId] ? projectMap[scope.row.nextSubprojectId].name : '/'}}</template>
          </el-table-column>
        </el-table>
      </el-dialog>
    </div>
  </body>
  <script src="../static/js/util.js"></script>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script src="../static/js/echarts_3.8.0.js"></script>

  <script>
    new Vue({
      el: '#app',

      data: function() {
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          projectMap: {}, // 子项目id->主项目映射
          params: {},
          // --------------图表--------------
          myChart: undefined,
          option: {
            legend: {
                data: []
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center',
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            xAxis: {
                type: 'time'
            },
            yAxis: {
                type: 'category',
                data: []
            },
            series: []
          },
          // --------------弹窗--------------
          dialogVisible: false,
          projectResourcesMap: {},
          resources: []
        }
      },
      methods: {
        query() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
            axios.get('/rest/project/load').then(res => {
              res.data.forEach(project =>  {
                project.subProjects.forEach(subProject =>  {
                  this.projectMap[subProject.id] = { id: subProject.id, code: project.code, name: project.name, domain: project.domain,
                  issue: project.issue, onlineDate: project.onlineDate, system: subProject.system }
                })
              })
              axios.get('/rest/personnel/load').then(res => {
                  res.data.forEach(item =>  {
                    this.personnelMap[item.id] = item
                  })
                axios.get('/rest/subproject/load').then(res => {
                  this.projectResourcesMap = {}
                  const subProjectMap = {}
                  const projectNames = []
                  res.data.forEach(subProject => {
                    // 过滤出查询条件数据
                    let pass = true
                    let teamMatchResources = []
                    if (this.params.team  && this.params.team.trim().length > 0) {
                      pass = false
                      subProject.resources.forEach(resource => {
                        if (this.personnelMap[resource.personnelId].team == this.params.team) {
                          console.log('人员：' + this.personnelMap[resource.personnelId].name)
                          console.log('小组：' + this.dictMap['TEAM'][this.personnelMap[resource.personnelId].team])
                          teamMatchResources.push(resource)
                        }
                      })
                    }
                    if (teamMatchResources.length > 0) {
                      pass = true
                      subProject.resources = teamMatchResources
                    }
                    let deptMatchResources = []
                    if (this.params.dept && this.params.dept.trim().length > 0) {
                      pass = false
                      subProject.resources.forEach(resource => {
                        if (this.personnelMap[resource.personnelId].dept == this.params.dept) {
                          deptMatchResources.push(resource)
                        }
                      })
                    }
                    if (deptMatchResources.length > 0) {
                      pass = true
                      subProject.resources = deptMatchResources
                    }
                    console.log('subproject info:' + JSON.stringify(subProject))
                    if (pass) {
                      const subProjectName = this.projectMap[subProject.id].name + "-" + this.dictMap['SYSTEM'][this.projectMap[subProject.id].system]
                      projectNames.push(subProjectName)
                      if (!subProjectMap[subProjectName]) {
                        subProjectMap[subProjectName] = {}
                      }
                      subProject.processes.forEach(process =>  {
                        if (!subProjectMap[subProjectName][process.phase]) {
                          subProjectMap[subProjectName][process.phase] = {}
                        }
                        subProjectMap[subProjectName][process.phase].reallyStartDate = process.reallyStartDate ? process.reallyStartDate : ''
                        subProjectMap[subProjectName][process.phase].reallyEndDate = process.reallyEndDate ? process.reallyEndDate : ''
                        subProjectMap[subProjectName][process.phase].currentProcess = process.currentProcess ? process.currentProcess : 0
                      })
                      subProject.resources.forEach(resource => {
                        if (!this.projectResourcesMap[subProjectName]) {
                          this.projectResourcesMap[subProjectName] = []
                        }
                        console.log('resource:' + JSON.stringify(resource))
                        this.projectResourcesMap[subProjectName].push(resource)
                      })
                    }
                  })
                  const projectPhaseNames = []
                  const seriesDataes = []
                  const sortedProjectPhases = Object.keys(this.dictMap['PROJECT_STAGE']).sort()
                  sortedProjectPhases.forEach(phaseCode => {
                    projectPhaseNames.push(this.dictMap['PROJECT_STAGE'][phaseCode])
                    const seriesData = { startData: [], endData: [], name: this.dictMap['PROJECT_STAGE'][phaseCode], currentProcess: []}
                    Object.keys(subProjectMap).forEach(projectName => {
                      if (subProjectMap[projectName][phaseCode]) {
                        seriesData.startData.push(subProjectMap[projectName][phaseCode].reallyStartDate)
                        seriesData.endData.push(subProjectMap[projectName][phaseCode].reallyEndDate)
                        seriesData.currentProcess.push(subProjectMap[projectName][phaseCode].currentProcess)
                      } else {
                        seriesData.startData.push('')
                        seriesData.endData.push('')

                      }
                    })
                    seriesDataes.push(seriesData)
                  })
                  const serieses = []
                  seriesDataes.forEach((data, index) => {
                    serieses.push(
                      { 
                        name: '起始日期隐藏线', 
                        type: 'bar',
                        stack: '总量',
                        itemStyle: {
                          normal: {
                            color: 'transparent'
                          }
                        },
                        data: data.startData
                      }
                    )
                    serieses.push(
                      { 
                        name: data.name, 
                        type: 'bar',
                        stack: '总量',
                        data: data.endData,
                        label: {
                          normal: {
                            show: true,
                            position: 'inside',
                            formatter: function(params) {
                              return params.seriesName + data.currentProcess[projectNames.indexOf(params.name)] + '%'
                            }
                          }
                        }
                      }
                    )
                  })
                  this.option.legend.data = projectPhaseNames
                  this.option.yAxis.data = projectNames
                  this.option.series = serieses
                  this.myChart.setOption(this.option)
                })
              })
            })
          })
        },
        openDialog(params) {
          this.dialogVisible = true
          this.resources = this.projectResourcesMap[params.name]
        }
      },
      mounted() {
        this.query()
        this.myChart = echarts.init(document.getElementById('chart'))
        this.myChart.on('click', this.openDialog)
      }
    })
  </script>
</html>