<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>资源负载情况</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app">
        <div id="chart" style="width:100%; height:400px"></div>
        <el-dialog title="释放人员清单" :visible.sync="dialogVisible" width="80%">
          <el-table :data="releaseResources" highlight-current-row border style="width:100%" :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
            <el-table-column label="项目名称">
              <template slot-scope="scope">{{projectMap[scope.row.subProjectId].name}}</template>
            </el-table-column>
            <el-table-column label="人员姓名" width="150px">
              <template slot-scope="scope">{{personnelMap[scope.row.personnelId].name}}</template>
            </el-table-column>
            <el-table-column label="人员类别" width="120px">
              <template slot-scope="scope">{{dictMap['PERSONNEL_TYPE'][personnelMap[scope.row.personnelId].type]}}</template>
            </el-table-column>
            <el-table-column label="人员级别" width="120px">
              <template slot-scope="scope">{{dictMap['PERSONNEL_LEVEL'][personnelMap[scope.row.personnelId].level]}}</template>
            </el-table-column>
            <el-table-column label="条线">
              <template slot-scope="scope">{{dictMap['DOMAIN'][projectMap[scope.row.subProjectId].domain]}}</template>
            </el-table-column>
            <el-table-column label="当前小组">
              <template slot-scope="scope">{{personnelMap[scope.row.personnelId].team.name}}</template>
            </el-table-column>
            <el-table-column label="释放时间" prop="endDate"></el-table-column>
            <el-table-column label="后续项目">
              <template slot-scope="scope">{{projectMap[scope.row.nextSubprojectId] ? projectMap[scope.row.nextSubprojectId].name : '/'}}</template>
            </el-table-column>
            <el-table-column label="入场时间" prop="startDate"></el-table-column>
          </el-table>
        </el-dialog>
    </div>
  </body>
  <script src="../static/js/util.js"></script>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script src="../static/js/echarts.js"></script>

  <script>
    new Vue({
      el: '#app',

      data: function() {
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          projectMap: {}, // 子项目id->主项目映射
          dataMap: {},
          // --------------图表--------------
          myChart: undefined,
          option: {
            title: {
              text: '资源负载情况',
            },
            tooltip: {
              trigger: 'axis',
              axisPointer: {
                type: 'shadow'
              }
            },
            toolbox: {
              show: true,
              orient: 'vertical',
              left: 'right',
              top: 'center',
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                magicType: { show: true, type: ['line', 'bar', 'stack'] },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
            },
            legend: {},
            xAxis: {
              name: '时间',
              data: []
            },
            yAxis: {
              name: '资源'
            },
            series: [{
              name: '已使用',
              type: 'bar',
              stack: 'total',
              barGap: 1,
              barMinWidth: 40,
              barMaxWidth: 200,
              lable: {
                show: true,
                align: 'left',
                position: 'inside',
                verticalAlign: 'middle',
                formatter: '{c}  {name|{a}}',
                fontSize: 16,
                rich: {
                  name: {}
                }
              },
              data: []
            }, {
              name: '可释放',
              type: 'bar',
              stack: 'total',
              barGap: 1,
              barMinWidth: 40,
              barMaxWidth: 200,
              data: []
            }]
          },
          // --------------弹窗--------------
          dialogVisible: false,
          releaseResources: []
        }
      },
      methods: {
        loadProject: function() {
          axios.get('/rest/project/load/').then(res => {
            onlineDate = [] // 项目上线日期
            usedResources =[] // 已使用资源
            releaseResources = [] // 可释放资源
            res.data.forEach(project =>  {
              project.subProjects.forEach(subProject => {
                this.projectMap[subProject.id] = { code: project.code, name: project.name, domain: project.domain,
                  issue: project.issue, onlineDate: project.onlineDate, id: project.id }
                subProject.resources.forEach(resource => {
                  if (resource.endDate <= dateToStr(new Date())) { // 可释放资源
                    if (!this.dataMap[project.onlineDate]) {
                      this.dataMap[project.onlineDate] =  { 'usedResources': [], 'releaseResources': [] }
                    }
                    this.dataMap[project.onlineDate].releaseResources.push(resource)
                  } else { // 已使用资源
                    if (!this.dataMap[project.onlineDate]) {
                      this.dataMap[project.onlineDate] =  { 'usedResources': [], 'releaseResources': [] }
                    }
                    this.dataMap[project.onlineDate].usedResources.push(resource)
                  }
                })
              })
            })
            const sortKeys = Object.keys(this.dataMap).sort()
            sortKeys.forEach(key => {
              if (this.dataMap[key].releaseResources.length > 0) { // 有释放人员存在的时间点
                onlineDate.push(key)
                usedResources.push(this.dataMap[key].usedResources.length)
                releaseResources.push(this.dataMap[key].releaseResources.length)
              }
            })
            this.option.xAxis.data = onlineDate
            this.option.series[0].data = releaseResources
            this.option.series[1].data = usedResources
            this.myChart.setOption(this.option)
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        loadPersonnel: function() {
          axios.get('/rest/personnel/load')
            .then(res => {
              res.data.forEach(item =>  {
                this.personnelMap[item.id] = item
              })
          })
        },
        openDialog(params) {
          this.dialogVisible = true
          this.releaseResources = this.dataMap[params.name].releaseResources
        }
      },
      mounted() {
        this.loadDict()
        this.loadPersonnel()
        this.loadProject()
        this.myChart = echarts.init(document.getElementById('chart'))
        this.myChart.on('click', this.openDialog)
      }
    })
  </script>
</html>