<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>资源释放情况</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-form :inline="true" @submit.native.prevent>
        <el-row>
          <el-form-item label="部门">
            <el-select v-model="params.dept" clearable>
              <el-option v-for="(val, key) in dictMap['DEPT']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="小组">
            <el-cascader v-model="params.team" expand-trigger="hover" :props="codeSelProps" :options="deptTeams" placeholder="请选择" clearable></el-cascader>
          </el-form-item>
          <el-form-item label="条线">
            <el-select v-model="params.domain" clearable>
              <el-option v-for="(val, key) in dictMap['DOMAIN']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="释放月份">
            <el-date-picker v-model="params.endMonth" type="month" clearable value-format="yyyy/MM"></el-date-picker>
          </el-form-item>
          <el-form-item label="后序项目">
            <el-select v-model="params.hasNextProject" clearable>
              <el-option v-for="(val, key) in nextProjectMap" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="类别">
            <el-select v-model="params.personnelType" clearable>
              <el-option v-for="(val, key) in dictMap['PERSONNEL_TYPE']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="级别">
            <el-select v-model="params.personnelLevel" clearable>
              <el-option v-for="(val, key) in dictMap['PERSONNEL_LEVEL']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="姓名">
            <el-input @keyup.enter.native="query" placeholder="请输入" clearable v-model="params.personnelName"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query" icon="el-icon-search">查询</el-button>
          </el-form-item>
        </el-row>
      </el-form>
      <el-table :data="pageinfo.content" highlight-current-row border style="width:100%" :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
        <el-table-column label="人员姓名" width="200px" prop="PERSONNEL_NAME"> </el-table-column>
        <el-table-column label="人员类别" width="200px" prop="PERSONNEL_TYPE"></el-table-column>
        <el-table-column label="人员级别" width="200px" prop="PERSONNEL_LEVEL"></el-table-column>
        <el-table-column label="当前项目" prop="PROJECT_NAME"></el-table-column>
        <el-table-column label="条线" prop="DOMAIN"></el-table-column>
        <el-table-column label="当前小组" prop="TEAM"></el-table-column>
        <el-table-column label="释放时间" prop="END_DATE"></el-table-column>
        <el-table-column label="后序项目">
          <template slot-scope="scope">{{ scope.row.NEXT_PROJECT_ID ? projectMap[scope.row.NEXT_PROJECT_ID].name :
            '/'}}
          </template>
        </el-table-column>
      </el-table>
      <div class="pagination-container">
        <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                       :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                       :total="pageinfo.totalElements"></el-pagination>
      </div>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          codeSelProps: {
            label: 'name',
            value: 'id',
            children: 'children'
          },
          dictMap: {}, // 系统字典
          deptTeams: [], // 部门呢小组数据
          personnelMap: {}, // 人员字典
          projectMap: {}, // 项目id->主项目映射
          nextProjectMap: { 1: '是', 0: '否' }, // 后续下面选择框数据
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          params: {}
        }
      },
      methods: {
        load() {
          Promise.all([axios.get('/rest/dict/load'), axios.get('/rest/personnel/load'), axios.get('/rest/project/load'), axios.get('/rest/team/load')]).then(values => {
            this.dictMap = values[0].data

            values[1].data.forEach(item =>  {
              this.personnelMap[item.id] = item
            })

            values[2].data.forEach(project =>  {
              this.projectMap[project.id] = project
            })

            this.deptTeams = []
            const deptTeamMap = {}
            values[3].data.forEach(team => {
              if (!deptTeamMap[team.dept]) {
                deptTeamMap[team.dept] = []
              }
              deptTeamMap[team.dept].push({id: team.id, name: team.name})
            })
            if (this.dictMap['DEPT']) {
              Object.keys(deptTeamMap).forEach(deptCode => {
                this.deptTeams.push({id: deptCode, name: this.dictMap['DEPT'][deptCode], children: deptTeamMap[deptCode]})
              })

              this.query()
            }
          })
        },
        query() {
          this.params.team = this.params.team ? this.params.team[1] : undefined
          axios.post('/rest/resource/query/' + this.pageinfo.pageable.pageNumber, this.params).then(res => {
            this.pageinfo = res.data
            this.pageinfo.pageable.pageNumber += 1
          })
        },
        handlePageChange(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        }
      },
      mounted() {
        this.load()
      }
    })
  </script>
</html>