<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>合同配置</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-row>
        <el-form :inline="true" @submit.native.prevent>
          <el-form-item>
            <el-input @keyup.enter.native="query" style="width:280px" placeholder="名称" clearable v-model="queryParams"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="openAdd">新增</el-button>
          </el-form-item>
        </el-form>
        <el-table :data="pageinfo.content" highlight-current-row border style="width:100%">
          <el-table-column prop="name" label="名称" width="200px"></el-table-column>
          <el-table-column label="供应商">
            <template slot-scope="scope">{{dictMap['SUPPLIER'][scope.row.company]}}</template>
          </el-table-column>
          <el-table-column label="类型" width="200px">
            <template slot-scope="scope">{{dictMap['CONTRACT_TYPE'][scope.row.type]}}</template>
          </el-table-column>
          <el-table-column label="状态" width="200px">
            <template slot-scope="scope">{{dictMap['CONTRACT_STATUS'][scope.row.status]}}</template>
          </el-table-column>
          <el-table-column prop="startDate" label="开始日期" width="150px"></el-table-column>
          <el-table-column prop="endDate" label="终止日期" width="150px"></el-table-column>
          <el-table-column align="center" label="操作" width="150">
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEdit(scope.row)" size="small">编辑</el-button>
                <el-button type="danger" @click="remove(scope.row.id)" size="small">删除</el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                         :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                         :total="pageinfo.totalElements"></el-pagination>
        </div>
      </el-row>
      <el-dialog title="编辑合同" :visible.sync="formVisible">
        <el-form :model="model" ref="form" :rules="formRules" label-width="100px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="名称" prop="name">
                <el-input v-model="model.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="供应商" prop="company">
                <el-select v-model="model.company" clearable>
                  <el-option v-for="(val, key) in dictMap['SUPPLIER']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="类型" prop="type">
                <el-select v-model="model.type">
                  <el-option v-for="(val, key) in dictMap['CONTRACT_TYPE']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="状态" prop="status">
                <el-select v-model="model.status">
                  <el-option v-for="(val, key) in dictMap['CONTRACT_STATUS']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="开始日期" prop="endDate">
                <el-date-picker type="date" v-model="model.startDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="终止日期" prop="endDate">
                <el-date-picker type="date" v-model="model.endDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click.native="cancelForm">取消</el-button>
          <el-button type="primary" @click.native="save">保存</el-button>
        </div>
      </el-dialog>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          dictMap: {}, // 系统字典
          formVisible: false,
          queryParams: '',
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          model: {},
          formRules: {
            name: [
              { required: true, trigger: 'blue', message: '名称不能为空'},
              { max: 256, trigger: 'blur', message: '最大长度255个字符' }
            ],
            company: [
              { required: true, trigger: 'blue', message: '供应商不能为空'}
            ],
            type: [
              { required: true, trigger: 'blue', message: '合同类型不能为空'}
            ],
            status: [
              { required: true, trigger: 'blue', message: '合同状态不能为空'}
            ],
            startDate: [
              { required: true, trigger: 'blue', message: '开始日期不能为空'}
            ],
            endDate: [
              { required: true, trigger: 'blue', message: '终止日期不能为空'}
            ]
          }
        }
      },
      methods: {
        query: function() {
          axios.get('/rest/contract/query/' + (this.pageinfo.pageable.pageNumber) + '?params=' + this.queryParams)
            .then(res => {
              this.pageinfo = res.data
              this.pageinfo.pageable.pageNumber += 1
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        openAdd: function() {
          this.model = {}
          this.formVisible = true
        },
        openEdit: function(record) {
          this.model = { ...record }
          this.formVisible = true
        },
        cancelForm: function() {
          this.$refs.form.resetFields()
          this.model = {}
          this.formVisible = false
        },
        save: function() {
          this.$refs.form.validate((valid) => {
            if (valid) {
              axios.post("/rest/contract", this.model).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                this.query()
                this.cancelForm()
              })
            }
          })
        },
        remove: function(id) {
          this.$confirm('确定删除该合同', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/contract/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.query()
            })
          }).catch(() => {})
        },
        handlePageChange: function(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        }
      },
      mounted() {
        this.loadDict()
        this.query()
      }
    })
  </script>
</html>