<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>人员配置</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-row>
        <el-form :inline="true" @submit.native.prevent>
          <el-form-item>
            <el-input @keyup.enter.native="query" style="width:280px" placeholder="姓名" clearable v-model="queryParams"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="openAdd">新增</el-button>
          </el-form-item>
        </el-form>
        <el-table :data="pageinfo.content" highlight-current-row border style="width:100%">
          <el-table-column prop="code" label="人员编码" width="100px"></el-table-column>
          <el-table-column prop="name" label="人员姓名" width="100px"></el-table-column>
          <el-table-column label="人员类别" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_TYPE'][scope.row.type]}}</template>
          </el-table-column>
          <el-table-column label="人员级别" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_LEVEL'][scope.row.level]}}</template>
          </el-table-column>
          <el-table-column label="所属部门" width="150px">
            <template slot-scope="scope">{{dictMap['DEPT'][scope.row.dept]}}</template>
          </el-table-column>
          <el-table-column label="所属小组" width="150px">
            <template slot-scope="scope">{{dictMap['TEAM'][scope.row.team]}}</template>
          </el-table-column>
          <el-table-column prop="phone" label="手机号" width="120px"></el-table-column>
          <el-table-column label="人员岗位" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_POSITION'][scope.row.position]}}</template>
          </el-table-column>
          <el-table-column label="供应商">
            <template slot-scope="scope">{{dictMap['SUPPLIER'][scope.row.company]}}</template>
          </el-table-column>
          <el-table-column label="负责人"width="100px">
            <template slot-scope="scope">{{personnelMap[scope.row.charge] ? personnelMap[scope.row.charge].name : ''}}</template>
          </el-table-column>
          <el-table-column label="开始日期" prop="startDate" width="150px"></el-table-column>
          <el-table-column label="结束日期" prop="endDate" width="150px"></el-table-column>
          <el-table-column align="center" label="操作" width="150">
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEdit(scope.row)" size="small">编辑</el-button>
                <el-button type="danger" @click="remove(scope.row.id)" size="small">删除</el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                         :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                         :total="pageinfo.totalElements"></el-pagination>
        </div>
      </el-row>
      <el-dialog title="编辑人员" :visible.sync="formVisible">
        <el-form :model="model" ref="form" :rules="formRules" label-width="100px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="人员编码" prop="code">
                <el-input v-model="model.code"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="人员姓名" prop="name">
                <el-input v-model="model.name"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="人员类别" prop="type">
                <el-select v-model="model.type">
                  <el-option v-for="(val, key) in dictMap['PERSONNEL_TYPE']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="当前状态" prop="status">
                <el-select v-model="model.status">
                  <el-option v-for="(val, key) in dictMap['PERSONNEL_STATUS']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="所属部门" prop="dept">
                <el-select v-model="model.dept">
                  <el-option v-for="(val, key) in dictMap['DEPT']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="所属小组" prop="team">
                <el-select v-model="model.team">
                  <el-option v-for="(val, key) in dictMap['TEAM']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="开始日期" prop="startDate">
                <el-date-picker type="date" v-model="model.startDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12" v-if="model.type !== '1'">
              <el-form-item label="结束日期" prop="endDate">
                <el-date-picker type="date" v-model="model.endDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="model.type !== '1'">
            <el-col :span="12">
              <el-form-item label="供应商" prop="company">
                <el-select v-model="model.company" clearable>
                  <el-option v-for="(val, key) in dictMap['SUPPLIER']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="级别" prop="level">
                <el-select v-model="model.level">
                  <el-option v-for="(val, key) in dictMap['PERSONNEL_LEVEL']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="model.type !== '1'">
            <el-col :span="12">
              <el-form-item label="人员岗位" prop="position">
                <el-select v-model="model.position">
                  <el-option v-for="(val, key) in dictMap['PERSONNEL_POSITION']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="负责人" prop="charge">
                <el-select v-model="model.charge" filterable placeholder="请选择">
                  <el-option
                      v-for="(item, id) in personnelMap"
                      :key="id"
                      :label="item.name"
                      :value="id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="手机号" prop="phone">
                <el-input v-model="model.phone" oninput="value=value.replace(/[^\d]/g, '')"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click.native="cancelForm">取消</el-button>
          <el-button type="primary" @click.native="save">保存</el-button>
        </div>
      </el-dialog>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          formVisible: false,
          queryParams: '',
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          model: {},
          formRules: {
            code: [
              { required: true, trigger: 'blue', message: '编码不能为空'},
              { max: 32, trigger: 'blur', message: '最大长度32个字符' }
            ],
            name: [
              { required: true, trigger: 'blue', message: '名称不能为空'},
              { max: 256, trigger: 'blur', message: '最大长度256个字符' }
            ],
            type: [
              { required: true, trigger: 'blue', message: '类别不能为空'}
            ],
            dept: [
              { required: true, trigger: 'blue', message: '所属部门不能为空'}
            ],
            status: [
              { required: true, trigger: 'blue', message: '当前状态不能为空'}
            ],
            startDate: [
              { required: true, trigger: 'blue', message: '开始日期不能为空'}
            ],
            phone: [
              { required: true, trigger: 'blur', message: '手机号不能为空'},
              { max: 11, trigger: 'blur', message: '手机号长度不对'},
              { min: 11, trigger: 'blur', message: '手机号长度不对'}
            ]
          }
        }
      },
      methods: {
        query: function() {
          axios.get('/rest/personnel/query/' + (this.pageinfo.pageable.pageNumber) + '?params=' + this.queryParams)
            .then(res => {
              this.pageinfo = res.data
              this.pageinfo.pageable.pageNumber += 1
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        loadPersonnel: function() {
          axios.get('/rest/personnel/load')
            .then(res => {
              res.data.forEach(item =>  {
                this.personnelMap[item.id] = item
              })
          })
        },
        openAdd: function() {
          this.model = {}
          this.formVisible = true
        },
        openEdit: function(record) {
          this.model = { ...record }
          this.formVisible = true
        },
        cancelForm: function() {
          this.$refs.form.resetFields()
          this.model = {}
          this.formVisible = false
        },
        save: function() {
          this.$refs.form.validate((valid) => {
            if (valid) {
              axios.post("/rest/personnel", this.model).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                this.query()
                this.cancelForm()
              })
            }
          })
        },
        remove: function(id) {
          this.$confirm('确定删除该人员', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/personnel/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.query()
            })
          })
        },
        handlePageChange: function(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        }
      },
      mounted() {
        this.loadDict()
        this.loadPersonnel()
        this.query()
      }
    })
  </script>
</html>