<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>项目配置</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app" class="app-container">
      <el-row>
        <el-form :inline="true" @submit.native.prevent>
          <el-form-item>
            <el-input @keyup.enter.native="query" style="width:280px" placeholder="名称" clearable v-model="queryParams"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="query">查询</el-button>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="openAdd">新增</el-button>
          </el-form-item>
        </el-form>
        <el-table :data="pageinfo.content" highlight-current-row border style="width:100%">
          <el-table-column prop="name" label="名称" width="200px"></el-table-column>
          <el-table-column label="阶段" width="200px">
            <template slot-scope="scope">{{dictMap['PROJECT_STAGE'][scope.row.stage]}}</template>
          </el-table-column>
          <el-table-column label="板块" width="200px">
            <template slot-scope="scope">{{dictMap['DOMAIN'][scope.row.domain]}}</template>
          </el-table-column>
          <el-table-column label="项目经理" prop="pmId" width="150px"></el-table-column>
          <el-table-column label="上线日期" prop="onlineDate" width="150px"></el-table-column>
          <el-table-column label="项目组" width="80px">
            <template slot-scope="scope">{{scope.row.isProjectGroup === '1' ? '是' : '否'}}</template>
          </el-table-column>
          <el-table-column label="问题" prop="issue"></el-table-column>
          <el-table-column align="center" label="操作" width="150">
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEdit(scope.row)" size="small">编辑</el-button>
                <el-button type="danger" @click="remove(scope.row.id)" size="small">删除</el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination-container">
          <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                         :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                         :total="pageinfo.totalElements"></el-pagination>
        </div>
      </el-row>
      <el-dialog title="编辑项目" :visible.sync="formVisible">
        <el-form :model="data" ref="form" :rules="formRules" label-width="100px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="名称" prop="name">
                <el-input v-model="data.name"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="项目经理" prop="pmId">
                <el-input v-model="data.pmId"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="阶段" prop="phase">
                <el-select v-model="data.phase">
                  <el-option v-for="(val, key) in dictMap['PROJECT_STAGE']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="板块" prop="domain">
                <el-select v-model="data.domain">
                  <el-option v-for="(val, key) in dictMap['DOMAIN']" :label="val" :value="key" :key="key"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="上线日期" prop="onlineDate">
                <el-date-picker type="date" v-model="data.onlineDate" value-format="yyyy/MM/dd"></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="项目组" prop="isProjectGroup">
                <el-switch v-model="data.isProjectGroup" active-value="1" inactive-value="0"></el-switch>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-form-item label="问题" prop="issue">
              <el-input type="textarea" v-model="data.issue"></el-input>
            </el-form-item>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click.native="cancelForm">取消</el-button>
          <el-button type="primary" @click.native="save">保存</el-button>
        </div>
      </el-dialog>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script src="../static/js/axios.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          dictMap: {}, // 系统字典
          formVisible: false,
          queryParams: '',
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          data: {},
          formRules: {
            name: [
              { required: true, trigger: 'blue', message: '名称不能为空'},
              { max: 256, trigger: 'blur', message: '最大长度256个字符' }
            ],
            stage: [
              { required: true, trigger: 'blue', message: '阶段不能为空'}
            ],
            domain: [
              { required: true, trigger: 'blue', message: '板块不能为空'}
            ],
            onlineDate: [
              { required: true, trigger: 'blue', message: '上线日期不能为空'}
            ]
          }
        }
      },
      methods: {
        query: function() {
          axios.get('/rest/project/query/' + (this.pageinfo.pageable.pageNumber) + '?params=' + this.queryParams)
            .then(res => {
              this.pageinfo = res.data
              this.pageinfo.pageable.pageNumber += 1
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        openAdd: function() {
          this.data = {}
          this.formVisible = true
        },
        openEdit: function(record) {
          this.data = { ...record }
          this.formVisible = true
        },
        cancelForm: function() {
          this.$refs.form.resetFields()
          this.data = {}
          this.formVisible = false
        },
        save: function() {
          this.$refs.form.validate((valid) => {
            if (valid) {
              axios.post("/rest/project", this.data).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                this.query()
                this.cancelForm()
              })
            }
          })
        },
        remove: function(id) {
          this.$confirm('确定删除该项目', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/project/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.query()
            })
          })
        },
        handlePageChange: function(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        }
      },
      mounted() {
        this.loadDict()
        this.query()
      }
    })
  </script>
</html>