<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/element.css">
</head>
<body>
    <div id="app">
        <el-button>test</el-button>
        <el-form ref="form" label-width="80">
            <h2>Test Demo</h2>
            <el-form-item label="活动名称">
                <el-input>1111</el-input>
            </el-form-item>
        </el-form>
    </div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/element.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function() {
            return {visible: false}
        }
    })
</script>
</html>