<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>互金资源管理系统</title>
    <link rel="stylesheet" href="../static/css/element.css">
  </head>
  <body>
    <div id="app">
      <div class="main-cnt">
        <div>
          <h1>互金资源管理系统</h1>
        </div>
        <div>
          <img src="../static/image/index.png" width="890px" height="530px">
        </div>
      </div>
    </div>
  </body>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element.js"></script>
  <script>
      new Vue({
          el: '#app'
      })
  </script>
  <style>
    h1 {
      font-size: 34px;
      color: #555;
    }
    .main-cnt {
      box-sizing: border-box;
      text-align: center;
      display: block;
    }
  </style>
</html>