<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>项目维护</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/element.css">
</head>
<body>
<div id="app" class="app-container">
  <el-row>
    <el-form :inline="true" @submit.native.prevent>
      <el-form-item>
        <el-input @keyup.enter.native="query" style="width:280px" placeholder="名称" clearable v-model="queryParams"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="query">查询</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="pageinfo.content" highlight-current-row @row-dblclick="openDetail" border style="width:100%" :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
      <el-table-column label="项目编码" width="200px">
        <template slot-scope="scope">{{projectMap[scope.row.id].code}}</template>
      </el-table-column>
      <el-table-column label="项目名称">
        <template slot-scope="scope">{{projectMap[scope.row.id].name}}</template>
      </el-table-column>
      <el-table-column label="所属系统" width="200px">
        <template slot-scope="scope">{{dictMap['SYSTEM'][scope.row.system]}}</template>
      </el-table-column>
      <el-table-column label="业务条线" width="250px">
        <template slot-scope="scope">{{dictMap['DOMAIN'][projectMap[scope.row.id].domain]}}</template>
      </el-table-column>
      <el-table-column label="上线日期" width="150px">
        <template slot-scope="scope">{{projectMap[scope.row.id].onlineDate}}</template>
      </el-table-column>
      <el-table-column label="所属部门" width="200px">
        <template slot-scope="scope">{{dictMap['DEPT'][scope.row.dept]}}</template>
      </el-table-column>
      <el-table-column label="当前阶段" width="150px" align="center">
        <template slot-scope="scope">{{dictMap['PROJECT_STAGE'][scope.row.phase]}}</template>
      </el-table-column>
      <el-table-column label="操作" align="center">
        <template slot-scope="scope">
          <el-button type="danger" @click="closeProject(scope.row.id, scope.row.isClose)" size="small" icon="el-icon-open">{{scope.row.isClose === '0' ? '关闭' : '打开'}}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination-container">
      <el-pagination background layout="prev, pager, next, total" @current-change="handlePageChange"
                     :current-page="pageinfo.pageable.pageNumber" :page-size="pageinfo.pageable.pageSize"
                     :total="pageinfo.totalElements"></el-pagination>
    </div>
  </el-row>
  <el-dialog title="项目详情" :visible.sync="detailVisible" width="80%" @close="closeDetail">
    <el-tabs v-model="activeTabName" type="border-card">
      <el-tab-pane name="basicInfo" label="基本信息">
        <br>
        <el-descriptions v-if="projectMap[model.id]" border title="主项目">
          <el-descriptions-item label="项目编码">{{projectMap[model.id].code}}</el-descriptions-item>
          <el-descriptions-item label="项目名称">{{projectMap[model.id].name}}</el-descriptions-item>
          <el-descriptions-item label="业务条线">{{dictMap['DOMAIN'][projectMap[model.id].domain]}}</el-descriptions-item>
          <el-descriptions-item label="上线日期">{{projectMap[model.id].onlineDate}}</el-descriptions-item>
          <el-descriptions-item label="项目问题">{{projectMap[model.id].issue}}</el-descriptions-item>
        </el-descriptions>
        <br>
        <el-descriptions border title="子项目">
          <el-descriptions-item label="所属系统">{{dictMap['SYSTEM'][model.system]}}</el-descriptions-item>
          <el-descriptions-item label="所属部门">{{dictMap['DEPT'][model.dept]}}</el-descriptions-item>
          <el-descriptions-item label="当前阶段">{{dictMap['PROJECT_STAGE'][model.phase]}}</el-descriptions-item>
          <el-descriptions-item label="PM">{{personnelMap[model.pm] ? personnelMap[model.pm].name : ''}}</el-descriptions-item>
          <el-descriptions-item label="PMO">{{personnelMap[model.pmo] ? personnelMap[model.pmo].name : ''}}</el-descriptions-item>
          <el-descriptions-item label="QA">{{personnelMap[model.qa] ? personnelMap[model.qa].name : ''}}</el-descriptions-item>
        </el-descriptions>
        <br>
        <el-descriptions v-if="model.contract" border title="合同信息">
          <el-descriptions-item label="名称">{{model.contract.name}}</el-descriptions-item>
          <el-descriptions-item label="公司">{{dictMap['SUPPLIER'][model.contract.company]}}</el-descriptions-item>
          <el-descriptions-item label="类型">{{dictMap['CONTRACT_TYPE'][model.contract.type]}}</el-descriptions-item>
          <el-descriptions-item label="状态">{{dictMap['CONTRACT_STATUS'][model.contract.status]}}</el-descriptions-item>
          <el-descriptions-item label="开始日期">{{model.contract.startDate}}</el-descriptions-item>
          <el-descriptions-item label="结束日期">{{model.contract.endDate}}</el-descriptions-item>
        </el-descriptions>
      </el-tab-pane>
      <el-tab-pane name="processInfo" label="项目进度">
        <el-table :data="processes" border :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
          <el-table-column label="阶段">
            <template slot-scope="scope">{{dictMap['PROJECT_STAGE'][scope.row.phase]}}</template>
          </el-table-column>
          <el-table-column label="计划开始" width="120px" prop="planStartDate"></el-table-column>
          <el-table-column label="实际开始" width="120px" prop="reallyStartDate"></el-table-column>
          <el-table-column label="计划结束" width="120px" prop="planEndDate"></el-table-column>
          <el-table-column label="实际结束" width="120px" prop="reallyEndDate"></el-table-column>
          <el-table-column label="计划工作量" width="100px" prop="planManDays"></el-table-column>
          <el-table-column label="投入占比" width="100px" prop="investRate"></el-table-column>
          <el-table-column label="当前进度" width="100px" prop="currentProcess"></el-table-column>
          <el-table-column label="滞后天数" :formatter="computeDelayDays" width="100px"></el-table-column>
          <el-table-column align="center" width="120px">
            <template slot="header" slot-scope="scope">
              <el-button type="primary" @click="openAddProcess(model.id)" size="mini" icon="el-icon-plus"></el-button>
            </template>
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEditProcess(scope.row)" size="small" icon="el-icon-edit"></el-button>
                <el-button type="danger" @click="removeProcess(scope.row.id)" size="small" icon="el-icon-delete"></el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane name="resourceManage" label="资源管理">
        <el-table :data="resources" border :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
          <el-table-column label="前序项目">
            <template slot-scope="scope">{{scope.row.prevSubprojectId ? projectMap[scope.row.prevSubprojectId].name  + '-' + dictMap['SYSTEM'][projectMap[scope.row.prevSubprojectId].system] : '/'}}</template>
          </el-table-column>
          <el-table-column label="姓名" width="120px">
            <template slot-scope="scope">{{personnelMap[scope.row.personnelId].name}}</template>
          </el-table-column>
          <el-table-column label="供应商">
            <template slot-scope="scope">{{dictMap['SUPPLIER'][personnelMap[scope.row.personnelId].company]}}</template>
          </el-table-column>
          <el-table-column label="类别" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_TYPE'][personnelMap[scope.row.personnelId].type]}}</template>
          </el-table-column>
          <el-table-column label="级别" width="100px">
            <template slot-scope="scope">{{dictMap['PERSONNEL_LEVEL'][personnelMap[scope.row.personnelId].level]}}</template>
          </el-table-column>
          <el-table-column label="占比" prop="currentRation"></el-table-column>
          <el-table-column label="后续项目">
            <template slot-scope="scope">{{scope.row.nextSubprojectId ? projectMap[scope.row.nextSubprojectId].name + '-' + dictMap['SYSTEM'][projectMap[scope.row.nextSubprojectId].system] : '/'}}</template>
          </el-table-column>
          <el-table-column label="进入时间" prop="startDate" width="120px"></el-table-column>
          <el-table-column label="释放时间" prop="endDate" width="120px"></el-table-column>
          <el-table-column align="center" width="120px">
            <template slot="header" slot-scope="scope">
              <el-button type="primary" @click="openAddResource(model.id)" size="mini" icon="el-icon-plus"></el-button>
            </template>
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEditResource(scope.row)" size="small" icon="el-icon-edit"></el-button>
                <el-button type="danger" @click="removeResource(scope.row.id)" size="small" icon="el-icon-delete"></el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane name="riskManage" label="风险管理">
        <el-table :data="risks" border :header-cell-style="{background: '#F5F7FA',color: '#909399'}">
          <el-table-column label="类别" width="160px">
            <template slot-scope="scope">{{dictMap['RISK_TYPE'][scope.row.type]}}</template>
          </el-table-column>
          <el-table-column label="责任人" width="160px">
            <template slot-scope="scope">{{personnelMap[scope.row.responsiblePersonnelId].name}}</template>
          </el-table-column>
          <el-table-column label="措施">
            <template slot-scope="scope">
              <el-tooltip class="item" effect="dark" :content="scope.row.measure" placement="top">
                <span>{{scope.row.measure.length > 16 ? scope.row.measure.substring(0, 16) + '...' : scope.row.measure }}</span>
              </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column label="描述">
            <template slot-scope="scope">
              <el-tooltip class="item" effect="dark" :content="scope.row.desc" placement="top">
                <span>{{scope.row.desc.length > 16 ? scope.row.desc.substring(0, 16) + '...' : scope.row.desc }}</span>
            </el-tooltip>
            </template>
          </el-table-column>
          <el-table-column align="center" width="120px">
            <template slot="header" slot-scope="scope">
              <el-button type="primary" @click="openAddRisk(model.id)" size="mini" icon="el-icon-plus"></el-button>
            </template>
            <template slot-scope="scope">
              <el-button-group>
                <el-button type="primary" @click="openEditRisk(scope.row)" size="small" icon="el-icon-edit"></el-button>
                <el-button type="danger" @click="removeRisk(scope.row.id)" size="small" icon="el-icon-delete"></el-button>
              </el-button-group>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </el-dialog>
  <el-drawer :visible.sync="processDrawerVisible" direction="rtl">
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__content">
        <el-form :model="process" :rules="processFormRules" ref="processForm" label-width="80px">
          <el-form-item label="阶段" prop="phase">
            <el-select v-model="process.phase" :disabled="process.id ? true : false" clearable placeholder="请选择">
              <el-option v-for="(val, key) in dictMap['PROJECT_STAGE']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="计划开始" prop="planStartDate">
            <el-date-picker type="date" v-model="process.planStartDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="实际开始" prop="reallyStartDate">
            <el-date-picker type="date" v-model="process.reallyStartDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="计划结束" prop="planEndDate">
            <el-date-picker type="date" v-model="process.planEndDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="实际结束" prop="reallyEndDate">
            <el-date-picker type="date" v-model="process.reallyEndDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="计划工作量" prop="planManDays">
            <el-input v-model="process.planManDays" oninput="value=value.replace(/[^\d]/g, '')" @blur="planManDaysChange"></el-input>
          </el-form-item>
          <el-form-item label="投入占比%" prop="investRate">
            <el-input v-model="process.investRate" oninput="value=value.replace(/^\.+|[^\d.]/g, '')" @blur="investRateChange"></el-input>
          </el-form-item>
          <el-form-item label="当前进度%" prop="currentProcess">
            <el-input v-model="process.currentProcess" oninput="value=value.replace(/[^\d]/g, '')" @blur="currentProcessChange"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </el-row>
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__footer">
        <el-button @click="processDrawerVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveProcess">确 定</el-button>
      </div>
    </el-row>
  </el-drawer>
  <el-drawer :visible.sync="resourceDrawerVisible" direction="rtl">
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__content">
        <el-form :model="resource" :rules="resourceFormRules" ref="resourceForm" label-width="80px">
          <el-form-item label="项目人员" prop="personnelId">
            <el-select v-model="resource.personnelId" filterable placeholder="请选择">
              <el-option
                  v-for="(item, key) in personnelMap"
                  :key="key"
                  :label="item.name"
                  :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="当前占比" prop="currentRation">
            <el-input v-model="resource.currentRation" oninput="value=value.replace(/^\.+|[^\d.]/g, '')" @blur="rationChange"></el-input>
          </el-form-item>
          <el-form-item label="进入时间" prop="startDate">
            <el-date-picker type="date" v-model="resource.startDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="释放时间" prop="endDate">
            <el-date-picker type="date" v-model="resource.endDate" value-format="yyyy/MM/dd"></el-date-picker>
          </el-form-item>
          <el-form-item label="前序项目" prop="prevSubprojectId">
            <el-select v-model="resource.prevSubprojectId" clearable placeholder="请选择">
              <el-option
                  v-for="(item, key) in projectMap"
                  :key="key"
                  :label="item.name + '-' + dictMap['SYSTEM'][item.system]"
                  :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="后续项目" prop="nextSubprojectId">
            <el-select v-model="resource.nextSubprojectId" clearable placeholder="请选择">
              <el-option
                  v-for="(item, key) in projectMap"
                  :key="key"
                  :label="item.name + '-' + dictMap['SYSTEM'][item.system]"
                  :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      </div>
    </el-row>
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__footer">
        <el-button @click="resourceDrawerVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveResource">确 定</el-button>
      </div>
    </el-row>
  </el-drawer>
  <el-drawer :visible.sync="riskDrawerVisible" direction="rtl">
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__content">
        <el-form :model="risk" :rules="riskFormRules" ref="riskForm" label-width="80px">
          <el-form-item label="类型" prop="type">
            <el-select v-model="risk.type" clearable placeholder="请选择">
              <el-option v-for="(val, key) in dictMap['RISK_TYPE']" :label="val" :value="key" :key="key"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="责任人" prop="responsiblePersonnelId">
            <el-select v-model="risk.responsiblePersonnelId" filterable placeholder="请选择">
              <el-option
                  v-for="(item, key) in personnelMap"
                  :key="key"
                  :label="item.name"
                  :value="item.id">
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="措施" prop="measure">
            <el-input type="textarea" v-model="risk.measure"></el-input>
          </el-form-item>
          <el-form-item label="描述" prop="desc">
            <el-input type="textarea" v-model="risk.desc"></el-input>
          </el-form-item>
        </el-form>
      </div>
    </el-row>
    <el-row type="flex" justify="space-around">
      <div class="demo-drawer__footer">
        <el-button @click="riskDrawerVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveRisk">确 定</el-button>
      </div>
    </el-row>
  </el-drawer>
</div>
</body>
<script src="../static/js/vue.js"></script>
<script src="../static/js/element.js"></script>
<script src="../static/js/axios.js"></script>
<script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          dictMap: {}, // 系统字典
          personnelMap: {}, // 人员字典
          projectMap: {}, // 子项目id->主项目映射
          detailVisible: false,
          queryParams: '',
          pageinfo: {
            pageable: {
              pageNumber: 1
            }
          },
          // ------------项目管理弹窗------------
          activeTabName: 'basicInfo',
          model: {},
          // ------------项目进度------------
          processes: [], // 当前项目资源列表
          process: {},
          processDrawerVisible: false,
          processFormRules: {
            phase : [
              { required: true, trigger: 'blue', message: '项目阶段不能为空'}
            ],
            planStartDate: [
              { required: true, trigger: 'blue', message: '计划开始不能为空'}
            ],
            planEndDate: [
              { required: true, trigger: 'blue', message: '计划结束不能为空'}
            ]
          },
          // ------------项目资源------------
          resources: [], // 当前项目资源列表
          resource: {},
          resourceDrawerVisible: false,
          resourceFormRules: {
            personnelId : [
              { required: true, trigger: 'blue', message: '项目人员不能为空'}
            ],
            currentRation: [
              { required: true, trigger: 'blue', message: '当前占比不能为空'}
            ],
            startDate: [
              { required: true, trigger: 'blue', message: '进入时间不能为空'}
            ],
            endDate: [
              { required: true, trigger: 'blue', message: '释放时间不能为空'}
            ]
          },
          // ------------项目风险------------
          risks: [], // 当前项目资源列表
          risk: {},
          riskDrawerVisible: false,
          riskFormRules: {
            type : [
              { required: true, trigger: 'blue', message: '风险类型不能为空'}
            ],
            responsiblePersonnelId: [
              { required: true, trigger: 'blue', message: '责任人不能为空'}
            ],
            measure: [
              { max: 256, trigger: 'blur', message: '最大长度255个字符' }
            ],
            desc: [
              { max: 256, trigger: 'blur', message: '最大长度255个字符' }
            ]
          }
        }
      },
      methods: {
        query: function() {
          axios.get('/rest/project/load').then(res => {
              res.data.forEach(project =>  {
                project.subProjects.forEach(subProject =>  {
                  this.projectMap[subProject.id] = { id: subProject.id, code: project.code, name: project.name, domain: project.domain,
                  issue: project.issue, onlineDate: project.onlineDate, system: subProject.system }
                })
                axios.get('/rest/subproject/query/' + (this.pageinfo.pageable.pageNumber))
                  .then(res => {
                    this.pageinfo = res.data
                    this.pageinfo.pageable.pageNumber += 1
                })
              })
          })
        },
        loadDict: function() {
          axios.get('/rest/dict/load').then(res => {
            this.dictMap = res.data
          })
        },
        loadPersonnel: function() {
          axios.get('/rest/personnel/load')
            .then(res => {
              res.data.forEach(item =>  {
                this.personnelMap[item.id] = item
              })
          })
        },
        handlePageChange: function(pageNumber) {
          this.pageinfo.pageable.pageNumber = pageNumber
          this.query()
        },
        openDetail(row) {
          this.model = row
          this.processes = row.processes
          this.resources = row.resources
          this.risks = row.risks
          this.detailVisible = true
        },
        closeDetail() {
          this.detailVisible = false
          this.query()
        },
        closeProject(id, status) {
          const tipmsg = status === '0' ? '关闭' : '打开'
          const reverseStatus = status === '0' ? '1' : '0'
          this.$confirm('确定要' + tipmsg + '该子项', '提示', { type: 'warning' }).then(() => {
            axios.get("/rest/subproject/close/" + id + "/" + reverseStatus).then(res => {
              this.$notify({
                title: '成功',
                message: '成功' + tipmsg,
                type: 'success'
              })
              this.query()
            })
          }).catch(() => {})
        },
        // ------------项目进度------------
        openAddProcess(subProjectId) {
          this.process = { subProjectId: subProjectId }
          this.processDrawerVisible = true
        },
        openEditProcess(process) {
          this.process = { ...process }
          this.processDrawerVisible = true
        },
        saveProcess() {
          this.$refs.processForm.validate((valid) => {
            if (valid) {
              axios.post("/rest/process", this.process).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                axios.get("/rest/process/subproject/" + this.process.subProjectId).then(res => {
                   this.processes = res.data
                   this.processDrawerVisible = false
                })
              })
            }
          })
        },
        removeProcess(id) {
          this.$confirm('确定删除该进度', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/process/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.processes.forEach((process, index) => {
                if (id === process.id) {
                  this.processes.splice(index, 1)
                }
              })
            })
          }).catch(() => {})
        },
        investRateChange(e) {
          this.process.investRate = e.target.value
        },
        currentProcessChange(e) {
          this.process.currentProcess = e.target.value
        },
        planManDaysChange(e) {
          this.process.planManDays = e.target.value
        },
        // 计算滞后天数（实际天数 - 计划天数）
        computeDelayDays(row) {
          if (!row.reallyStartDate || !row.reallyEndDate) return
          const planDays = (new Date(row.planEndDate) - new Date(row.planStartDate)) / (1000 * 60 * 60 * 24)
          const reallyDays = (new Date(row.reallyEndDate) - new Date(row.reallyStartDate)) / (1000 * 60 * 60 * 24)
          return reallyDays - planDays
        },
        // ------------项目资源------------
        openAddResource(subProjectId) {
          this.resource = { subProjectId: subProjectId }
          this.resourceDrawerVisible = true
        },
        openEditResource(resource) {
          this.resource = { ...resource }
          this.resourceDrawerVisible = true
        },
        saveResource() {
          this.$refs.resourceForm.validate((valid) => {
            if (valid) {
              axios.post("/rest/resource", this.resource).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                axios.get("/rest/resource/subproject/" + this.resource.subProjectId).then(res => {
                   this.resources = res.data
                   this.resourceDrawerVisible = false
                })
              })
            }
          })
        },
        removeResource(id) {
          this.$confirm('确定删除该资源', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/resource/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.resources.forEach((resource, index) => {
                if (id === resource.id) {
                  this.resources.splice(index, 1)
                }
              })
            })
          }).catch(() => {})
        },
        rationChange(e) {
          this.resource.currentRation = e.target.value
        },
        // ------------项目风险------------
        openAddRisk(subProjectId) {
          this.risk = { subProjectId: subProjectId }
          this.riskDrawerVisible = true
        },
        openEditRisk(risk) {
          this.risk = { ...risk }
          this.riskDrawerVisible = true
        },
        saveRisk() {
          this.$refs.riskForm.validate((valid) => {
            if (valid) {
              axios.post("/rest/risk", this.risk).then(res => {
                this.$notify({
                  title: '成功',
                  message: '保存成功',
                  type: 'success'
                })
                axios.get("/rest/risk/subproject/" + this.risk.subProjectId).then(res => {
                   this.risks = res.data
                   this.riskDrawerVisible = false
                })
              })
            }
          })
        },
        removeRisk(id) {
          this.$confirm('确定删除该风险', '提示', { type: 'warning' }).then(() => {
            axios.delete("/rest/risk/" + id).then(res => {
              this.$notify({
                title: '成功',
                message: '删除成功',
                type: 'success'
              })
              this.risks.forEach((risk, index) => {
                if (id === risk.id) {
                  this.risks.splice(index, 1)
                }
              })
            })
          }).catch(() => {})
        }
      },
      mounted() {
        this.loadDict()
        this.loadPersonnel()
        this.query()
      }
    })
  </script>
</html>