server:
  port: 8080
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:~/project
    hikari:
      username: sa
      password: sa
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  thymeleaf:
    cache: false # 开发时关闭缓存，不然没发看到实时页面
    mode: HTML5
    encoding: UTF-8
    servlet:
      content-type: text/html
  # 设定静态文件路径 js,css等
  mvc:
    static-path-pattern: /static/**